* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gioco_dadi{
    background-color: rgb(183,141,171);
    height: 250px;
}

.mail{
    background-color: rgb(227, 232, 177);
    height: 250px;
}
